
.ipynb_checkpoints/Model-checkpoint.ipynb
Datasets/DGT-TM/EN -NL/EN -NL.txt
Datasets/DGT-TM/EN-BG/EN-BG.txt
Datasets/DGT-TM/EN-CS/EN-CS.txt
Datasets/DGT-TM/EN-DA/EN-DA.txt
Datasets/DGT-TM/EN-DE/EN-DE.txt
Datasets/DGT-TM/EN-EL/EN-EL.txt
Datasets/DGT-TM/EN-ES/EN-ES.txt
Datasets/DGT-TM/EN-ET/EN-ET.txt
Datasets/DGT-TM/EN-FI/EN-FI.txt
Datasets/DGT-TM/EN-FR/EN-FR.txt
Datasets/DGT-TM/EN-GA/EN-GA.txt
Datasets/DGT-TM/EN-HR/EN-HR.txt
Datasets/DGT-TM/EN-HU/EN-HU.txt
Datasets/DGT-TM/EN-IT/EN-IT.txt
Datasets/DGT-TM/EN-LT/EN-LT.txt
Datasets/DGT-TM/EN-LV/EN-LV.txt
Datasets/DGT-TM/EN-MT/EN-MT.txt
Datasets/DGT-TM/EN-PL/EN-PL.txt
Datasets/DGT-TM/EN-PT/EN-PT.txt
Datasets/DGT-TM/EN-RO/EN-RO.txt
Datasets/DGT-TM/EN-SK/EN-SK.txt
Datasets/DGT-TM/EN-SL/EN-SL.txt
Datasets/DGT-TM/EN-SV/EN-SV.txt
Datasets/DGT-TM/Sample TMX file (EN-GA)/EN-GA.tmx
Datasets/Tatobea Project/spa-eng/_about.txt
Datasets/Tatobea Project/spa-eng/spa.txt
Datasets/Tatobea Project/spa.txt
